<!-- Sidebar for large screens -->
  <div class="hidden lg:block lg:w-96 lg:h-full lg:bg-white lg:text-black lg:fixed">
    <div class="py-2.5 px-10 text-3xl font-bold mt-28 font-instrument">ANDREW G.</div>
    <nav class="mt-10">
      <a href="<%= basePath %>index.html" class="block py-2.5 px-10 rounded transition duration-200 hover:bg-teal-700 hover:text-white">Home</a>
      <a href="<%= basePath %>about.html" class="block py-2.5 px-10 rounded transition duration-200 hover:bg-teal-700 hover:text-white">About</a>
      <a href="<%= basePath %>portraits.html" class="block py-2.5 px-10 rounded transition duration-200 hover:bg-teal-700 hover:text-white">Portraits</a>
      <a href="<%= basePath %>services.html" class="block py-2.5 px-10 rounded transition duration-200 hover:bg-teal-700 hover:text-white">Services</a>
	    <a href="https://andrewgrube.com" class="block py-2.5 px-10 rounded transition duration-200 hover:bg-teal-700 hover:text-white">Contact</a>
    </nav>
    <div class="absolute bottom-0 w-full p-4">
      <hr class="my-4 border-gray-700">
      <div class="flex justify-around">
        <a href="https://www.github.com/ghostcodekc" target="_blank" class="text-gray-500 hover:text-white">
          <i data-feather="github"></i>
        </a>
        <a href="https://www.linkedin.com/in/andrew-grube-%E2%98%81%25EF%25B8%258F-74124821" target="_blank" class="text-gray-500 hover:text-white">
          <i data-feather="linkedin"></i>
        </a>
        <a href="https://www.instagram.com/ghostcodekc" target="_blank">
          <i data-feather="instagram"></i>
        </a>
        <a href="mailto:andrewmgrube@gmail.com">
          <i data-feather="at-sign"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- Hamburger menu for small screens -->
  <div class="lg:hidden">
    <div class="navbar-burger bg-white flex items-center p-4">
      <button class="text-gray-500 focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
    <div class="navbar-menu hidden fixed inset-0 bg-white z-50">
      <div class="flex justify-end p-4">
        <button class="navbar-close text-white">
          <svg class="w-6 h-6" fill="none" stroke="black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
	  <div class="px-10 text-3xl font-bold mt-10 font-instrument">ANDREW G.</div>
      <nav class="mt-10">
        <a href="<%= basePath %>index.html" class="block py-2.5 px-10 rounded transition duration-200 hover:bg-teal-700 hover:text-white">Home</a>
        <a href="<%= basePath %>about.html" class="block py-2.5 px-10 rounded transition duration-200 hover:bg-teal-700 hover:text-white">About</a>
        <a href="<%= basePath %>portraits.html" class="block py-2.5 px-10 rounded transition duration-200 hover:bg-teal-700 hover:text-white">Portraits</a>
        <a href="<%= basePath %>services.html" class="block py-2.5 px-10 rounded transition duration-200 hover:bg-teal-700 hover:text-white">Services</a>
        <a href="https://andrewgrube.com" class="block py-2.5 px-10 rounded transition duration-200 hover:bg-teal-700 hover:text-white">Contact</a>
      </nav>
	  <div class="absolute bottom-0 w-full p-4">
		<hr class="my-4 border-gray-700">
		<div class="flex justify-around">
      <a href="https://www.github.com/ghostcodekc" target="_blank" class="text-gray-500 hover:text-white">
        <i data-feather="github"></i>
      </a>
		  <a href="https://www.linkedin.com/in/andrew-grube-%E2%98%81%25EF%25B8%258F-74124821" target="_blank" class="text-gray-500 hover:text-white">
        <i data-feather="linkedin"></i>
      </a>
      <a href="https://www.instagram.com/ghostcodekc" target="_blank">
        <i data-feather="instagram"></i>
      </a>
      <a href="mailto:andrewmgrube@gmail.com">
        <i data-feather="at-sign"></i>
      </a>
		</div>
	  </div>
    </div>
  </div>